.question {
  float: left;
}


.status {
  /*float: right;*/
}

.ro {
  display: inline;
  width: 50%;
}

li {
  list-style: none;
}

.row {
  position: relative;
  width: 100%;
  overflow: auto;
  padding: 2%;
}

.small-avatar {
  width:40px;
  border-radius: 100px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.medium-avatar {
  width:60px;
  border-radius: 100px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  float: right;
}