<h1>
  questions pending
</h1>
<ul>
<li class="row">
  <div class="ro question"><b> Question </b></div>
  <div class="ro status"><b> Status </b></div>
</li>
<% @questions.each do |u| %>
<li class="row">

  <div class="ro question">
  <a href="/manage/questions/<%= u.id %>">
    <%= u.question %>
  </a>
  </div>

  <div class="ro status">
    <%= u.status %>
  </div>
</li>

<% end %>
</ul>

<%= will_paginate @questions %>