
<div class="front-page-content">
  This site is for sharing great trivia questions about our favorite popular narratives.<br>
<ol>
  <li>Create great questions to challenge other users</li>
  <li>Take quizzes based on questions created by other users</li>
  <li>Share your scores and see how your friends do on their own quizzes</li>
</ol>

</div>



<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1689712287932220',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>