<div class="hero-image">
  <div class="fb-splash">
    <h1 class="hero-text">
      Make trivia, play trivia and challenge your friends on facebook!
      <br>
      <hr>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => "fblogin" %>
    </h1>
  </div>

</div>
<main>
  <h2 class="about-title">How does this work?</h2>
  <ul class="about-app">
    <li class="create-questions">
      <figure>
        <!-- this should be img tag later -->
        <i class="about-ask"></i>
        <figcaption>Create great questions to challenge other users</figcaption>
      </figure>
    </li>
    <li class="take-quizes">
      <figure>
        <!-- this should be img tag later -->
        <i class="about-quiz"></i>
        <figcaption>Take quizzes based on questions created by other users</figcaption>
      </figure>
    </li>
    <li class="share-scores">
      <figure>
        <!-- this should be img tag later -->
        <i class="about-rank"></i>
        <figcaption>Share your scores and see how your friends do on their own quizzes</figcaption>
      </figure>
    </li>
  </ul>
</main>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1689712287932220',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>