.log-in {
  background-color: #DDE4CF;
  padding: 21px;
  position: relative;
  width: 20%;
  left: 38%;
}

.navbar {
  padding: 2%;
}

.signed_out {
  margin: 0 auto;
  position: relative;
  margin-left: 43%;

}

.approved-question {
  background-color: #BDF5BD;
}

.non-approved-question {
  background-color: #F5CDCD;
}