$blue: #0195C7;
$dark-blue: #277894;

$lighter-grey: #F3F3F3;
$light-grey: #E6E6E6;
$darker-grey: #D1D1D1;

$pink: #F47A6B;
$coral: #E24C39;

$light-green: #74C0A1;
$dark-green: #015C5C;

$dark-green-blue: #012F3E;

$orange: #E66B00;

$yellow: #FCD671;
$purple: #091575;
$white: white;
$black: black;