<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Diamond Trivia", root_path, id: "diamond-trivia-logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "New Question", new_question_path %><li>
        <li><%= link_to "View Categories", categories_index_path %></li>
      </ul>
    </nav>
  </div>
</header>