<a href="/manage/admins/user_crud">Manage users</a>|
<a href="/manage/admins/question_crud">Manage Questions</a>

  <div style="float:right">
    <a href="/user_log_out_route/sign_out">Log out</a>
  </div><br>
<%= yield %>