<a href="/manage/admins/user_crud">Manage users</a>|
<a href="/manage/admins/question_crud">Manage Questions</a>


<div class="log" style="float:right">
  <a href="/users/sign_out">Log off</a>

</div>
<br>
<%= yield %>